<!DOCTYPE HTML>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <title>Create Product</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" class="float-start">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/products}">List Products</a></li>
                    <li th:if="${product.id == 0}" class="breadcrumb-item active">Create Product</li>
                    <li th:if="${product.id != 0}" class="breadcrumb-item active" aria-current="page">Update Product</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span th:if="${product.id == 0}">Create Article</span>
            <span th:if="${product.id != 0}">Update Category</span>
        </div>
        <div class="card-body">
            <div class="row pt-2">
                <div class="col-md-12">
                    <form th:action="@{/products/create}" method="post" th:object="${product}">
                        <input th:field="*{id}" hidden>
                        <div class="md-3">
                            <label>Select Category</label>
                            <select class="form-select" th:field="*{category}">
                                <option th:each="category : ${product.categories}" th:text="${category.name}"
                                        th:value="${category.id}"
                                ></option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="md-3">
                                    <label>Name</label>
                                    <input class="form-control " th:field="*{name}" type="text" placeholder="Name" >
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="md-3">
                                    <label>Code</label>
                                    <input class="form-control" th:field="*{code}" type="text"  placeholder="Code">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="md-3">
                                    <label>Barcode</label>
                                    <input class="form-control " th:field="*{barcode}" type="text" placeholder="Barcode" >
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="md-3">
                                    <label for="cost" >Cost</label>
                                    <input class="form-control" th:field="*{cost}" type="number"  id="cost" placeholder="Cost">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="md-3">
                                    <label>Price</label>
                                    <input class="form-control " th:field="*{price}" type="number" placeholder="Price" >
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="md-3">
                                    <label for="qty" >Quantity on Hand</label>
                                    <input class="form-control" th:field="*{qty}" type="number"  id="qty" placeholder="Cost">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 md-3">
                                <label for="des">Description</label>
                                <textarea class="form-control" id="des" th:field="*{description}"></textarea>
                            </div>
                        </div>
                        <div class="md-3">
                            <label>Stock Type</label>
                            <select class="form-select" th:field="*{stock_type}">
                                <option th:each="stock_type : ${product.stock_typeList}" th:text="${stock_type.value}"
                                        th:value="${stock_type.key}"
                                ></option>
                            </select>
                        </div>
                        <div class="md-3">
                            <label>Select Status</label>
                            <select class="form-control" th:field="*{status}">
                                <option th:each="status : ${product.statusList}" th:text="${status.value}"
                                        th:value="${status.key}"
                                ></option>
                            </select>
                        </div>
                        <button th:if="${product.id==0}" class="btn btn-primary btn-sm mt-2 float-end">Create</button>
                        <button th:if="${product.id!=0}" class="btn btn-primary btn-sm mt-2 float-end">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
