<!DOCTYPE HTML>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <title>List Article</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" class="float-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/articles}">List Article</a></li>
                    <li th:if="${article.id == 0}" class="breadcrumb-item active">Create Article</li>
                    <li th:if="${article.id != 0}" class="breadcrumb-item active" aria-current="page">Update Article</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span th:if="${article.id == 0}">Create Article</span>
            <span th:if="${article.id != 0}">Update Category</span>
        </div>
        <div class="card-body">
            <div class="row pt-2">
                <div class="col-md-12">
                    <form th:action="@{/articles/create}" method="post" th:object="${article}">
                        <input th:field="*{id}" hidden>
                        <div class="md-3">
                            <label>Title</label>
                            <input class="form-control " th:field="*{title}" type="text" placeholder="Title" >
                        </div>
                        <div class="md-3">
                            <label>Description</label>
                            <input class="form-control" th:field="*{description}" type="text"  placeholder="Description">
                        </div>
                        <div class="md-3">
                            <label>Select Category</label>
                            <select class="form-control" th:field="*{category}">
                                <option th:each="category : ${article.categories}" th:text="${category.name}"
                                        th:value="${category.id}"
                                ></option>
                            </select>
                        </div>
                        <div class="md-3">
                            <label>Select Status</label>
                            <select class="form-control" th:field="*{status}">
                                <option th:each="status : ${article.statusList}" th:text="${status.value}"
                                        th:value="${status.key}"
                                ></option>
                            </select>
                        </div>
                        <button th:if="${article.id==0}" class="btn btn-primary btn-sm mt-2 float-end">Create</button>
                        <button th:if="${article.id!=0}" class="btn btn-primary btn-sm mt-2 float-end">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
