<!DOCTYPE HTML>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <title>List Article</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="card">
        <div class="card-header">
            <span>List Articles</span>
            <a class="btn btn-primary btn-sm float-end" th:href="@{/articles/create}">Add</a>
        </div>
        <div class="card-body">
                <div class="row pt-2">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Action</th>
                            </thead>
                            <tbody>
                            <tr th:each="article: ${articles}">
                                <td th:text="${article.id}"></td>
                                <td th:text="${article.title}"></td>
                                <td th:text="${article.category.name}"></td>
                                <td th:text="${article.description}"></td>
                                <td>
                                    <span style="color: #0a53be !important;" th:if="${article.status=='ACT'}">Active</span>
                                    <span style="color: #a52834 !important;" th:if="${article.status=='DEL'}">Delete</span>
                                    <span style="color: #20c997 !important;" th:if="${article.status=='DSL'}">Disable</span>
                                </td>
                                <td >
                                    <a class="btn btn-sm btn-primary" th:href="@{'/articles/edit/'+${article.id}}">Edit</a>
                                    <a class="btn btn-sm btn-danger" th:href="@{'/articles/delete/'+${article.id}}">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>

</div>
</body>
</html>
