<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container text-center mt-4">
        <span class="text-muted">Place sticky footer content here. &copy; 2024 panha.lay1995@gmail.com</span>
    </div>
</div>