<!DOCTYPE HTML>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <title>List Article</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" class="float-start">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/categories}">List Categories</a></li>
                    <li th:if="${category.id == 0}" class="breadcrumb-item active">Create Category</li>
                    <li th:if="${category.id != 0}" class="breadcrumb-item active" aria-current="page">Update Category</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <span th:if="${category.id == 0}">Create Category</span>
            <span th:if="${category.id != 0}">Update Category</span>
        </div>
        <div class="card-body">
            <div class="row pt-2">
                <div class="col-md-12">
                    <form th:action="@{/categories/create}" method="post" th:object="${category}">
                        <input th:field="*{id}" hidden>
                        <div class="md-3">
                            <label>Category Name</label>
                            <input class="form-control " th:field="*{name}" type="text" placeholder="Name" >
                        </div>
                        <div class="md-3">
                            <label>Category Name</label>
                            <input class="form-control" th:field="*{nameKh}" type="text"  placeholder="Name Kh">
                        </div>
                        <div class="md-3">
                            <label>Select Status</label>
                            <select class="form-control" th:field="*{status}">
                                <option th:each="status : ${category.statusList}" th:text="${status.value}"
                                        th:value="${status.key}"
                                ></option>
                            </select>
                        </div>
                        <button th:if="${category.id==0}" class="btn btn-primary btn-sm mt-2 float-end">Create</button>
                        <button th:if="${category.id!=0}" class="btn btn-primary btn-sm mt-2 float-end">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
