<!DOCTYPE HTML>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en">
<head>
    <title>List Category</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container pt-2">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="float-start">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
                        <li class="breadcrumb-item active">List Categories</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>List Category</h5>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary btn-sm float-end" th:href="@{/categories/create}">Add</a>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Name Khmer</th>
                    <th>Status</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr th:each="category: ${categories}">
                        <td th:text="${category.id}"></td>
                        <td th:text="${category.name}"></td>
                        <td th:text="${category.nameKh}"></td>
                        <td>
                            <span style="color: #0a53be !important;" th:if="${category.status=='ACT'}">Active</span>
                            <span style="color: #a52834 !important;" th:if="${category.status=='DEL'}">Delete</span>
                            <span style="color: #20c997 !important;" th:if="${category.status=='DSL'}">Disable</span>
                        </td>
                        <td >
                            <a class="btn btn-sm btn-primary" th:href="@{'/categories/edit/'+${category.id}}">Edit</a>
                            <a class="btn btn-sm btn-danger" th:href="@{'/categories/delete/'+${category.id}}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</body>
</html>
